In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv("matches - matches.csv")
df.head(1)  # show the first few rows

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

###  GROUPBY() : Splitting the data into groups based on column values.Applying an aggregation function to each group. Combining the results into a new DataFrame.

In [34]:
delivery= df.groupby('season')
delivery['win_by_runs'].size()

season
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
Name: win_by_runs, dtype: int64

### isin() Find Out the most destrucive death over batsman in the history of IPL... Strike= no. of runs/ no. of balls/100.   Min batsman 200balss in over 16-20

In [38]:
death= delivery[delivery['season']>15]
allbatman= death.groupby('batsman')['batsman_runs'].count()
x= allbatman>100
allbatman

TypeError: '>' not supported between instances of 'SeriesGroupBy' and 'int'

### isin use

In [ ]:
# Runs scored by all these 43 batsman
# balls played by these 43 batsman
final = delivery[delivery['batsman'].isin(batsman_list)]
runs = final.groupby('batsman')['batsman_runs'].sum()
balls= final.groupby('batsman')['bastman_runs'].count()
sr=(runs/balls)*100
sr

KeyError: 'Column not found: batsman'